[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 12.0

[submodule "Olageibol/odoo_addons"]
	path = Olageibol/odoo_addons
	url = git@github.com:Olageibol/odoo_addons.git
	branch = 12.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 11.0
